# Gitignore template for Drupal 9 projects.
#
# Earlier versions of Drupal are tracked in `community/PHP/`.

# Ignore drupal core (if not versioning drupal sources)
/private_files
/vendor
.gitattributes
.htaccess

web/core
web/modules/README.txt
web/themes/README.txt
web/profiles/README.txt
web/sites/README.txt
web/sites/example.sites.php
web/sites/example.settings.local.php
web/sites/settings.local.php
web/sites/development.services.yml
web/.csslintrc
web/.editorconfig
web/.eslintignore
web/.eslintrc.json
web/.gitignore
web/.htaccess
web/autoload.php
web/example.gitignore
web/index.php
web/LICENSE.txt
web/README.txt
web/robots.txt
web/update.php
web/web.config

# Ignore specific configuration
config/ath_courts.import_courts.batch.yml

# Ignore contrib modules and themes.
web/modules/contrib/**
web/themes/contrib/**

# Ignore paths that contain user-generated content.
/web/sites/*/files
/web/sites/*/private
/web/files/*
/web/sites/default/settings.php
/web/sites/default/services.yml

# Ignore paths that may contain temporary files
/web/sites/*/translations
/web/sites/*/tmp
/web/sites/*/cache

# Ignore configuration files that may contain sensitive information
/web/sites/*/*settings*.php
/web/sites/*/*services*.yml

# Pantheon commits a settings.php for environment-specific settings.
# Place local settings in settings.local.php
/web/sites/*/settings.local.php

# Note that services.local.yml is not loaded by default. If you would like
# to use this file add the following to your settings.local.php file:
#   $settings['container_yamls'][] = _DIR_ . '/services.local.yml';
/web/sites/*/services.local.yml

# ** Only works in OSs that support newer versions of fnmatch (Bash 4+)
/web/sites/default/**/files
/web/sites/default/**/private

# Ignore testing related files
/web/sites/simpletest

# Packages #
*.7z
*.dmg
*.gz
*.bz2
*.iso
*.jar
*.rar
*.tar
*.zip
*.tgz
*.bak

# Logs and databases #
*.log
*.sql

# OS generated files #
.DS_Store*
ehthumbs.db

Thumbs.db
._*

# Vim generated files #
*.un~

# SASS #
.sass-cache

# Things in the core directory that Drupal 8 commits in the repository.
!core/**/*.gz

# Docker4Drupal filex
.env
docker-compose.yml
mariadb-init

# IDE files
.idea
.idea/*

# Theme files
node_modules
/.editorconfig
