.page-node-type-article .region-content-first .views-row > .node--type-article {
  margin-bottom: 48px;

  img {
    max-width: 100%;
    max-height: 464px;
  }

  .paragraph--type--image-description-horizontal {
    margin-bottom: 26px;
    display: flex;
    gap: 24px;

    .field--name-field-image {
      float: unset;
      flex: 0 0 auto;

      img {
        width: 100%;
        max-height: 387px;
        max-width: 300px;
        height: 100%;
      }
    }

    .field--name-field-text {
      flex: 0 0 50%;
    }
  }
}

.node--type-article {
  .field--name-field-category {
    font-family: Rubik, sans-serif;
    margin: 0 5px 5px 0;

    a:hover {
      color: #dd3333;
    }
  }

  h2 {
    margin-top: 10px !important;
    margin-bottom: 16px !important;
    font-size: 36px;
    line-height: 1.2;
    font-weight: 500;

    a:hover {
      cursor: unset;
      color: black;
    }
  }

  h3 {
    font-family: Rubik, sans-serif;
    font-weight: 500;
    font-size: 22px;
    line-height: 30px;
    margin-top: 27px;
    margin-bottom: 17px;
  }

  .field--name-field-article-tags {
    display: flex;
    gap: 5px;
    margin-bottom: 28px !important;
    margin-top: 32px !important;

    .field__item {
      font-family: 'Open Sans', 'Open Sans Regular', sans-serif;
      padding: 1px 7px 2px;
      border: 1px solid #ededed;
      color: black;
      font-size: 11px;

      &:first-of-type {
        text-transform: uppercase;
        background-color: black;
        border: 1px solid black;

        a {
          color: white;
        }

        &:hover {
          background-color: black;
          cursor: unset;
          border-color: black;
        }
      }

      &:hover {
        background-color: #008d7f;
        border-color: #008d7f;
        color: white;
      }
    }
  }

  .author_info {
    display: flex;
    align-items: center;
    font-family: Rubik, sans-serif;
    font-size: 13px;
    line-height: 1;
    font-weight: 400;
    text-transform: capitalize;
    color: #444;
    margin-bottom: 36px;

    .field--name-user-picture {
      width: 26px;
      height: 26px;
      margin-right: 5px;
      border-radius: 50%;
      overflow: hidden;
    }

    span {
      color: black;
      margin-right: 10px;
      margin-left: 3px;
      font-weight: 600;

      a:hover {
        color: #008d7f;
      }
    }
  }
}

.view-id-latest_articles_sidebar.active {
  position: fixed;
  width: 300px;
  top: 90px;
}

.active-bottom {
  position: relative;
  //position: absolute;
  //top: 2115px;
}
