/**
* @file
* Layout for exposed filters
*/

.views-exposed-form {
  .form-item {
    margin: 0;
    .form-select {
      font-family: Rubik;
      font-size: rem(13);
      line-height: rem(29);
      color: #777;
      background-color: transparent;
    }
  }
  .form-actions {
    display: none;
  }
}
