<div class="currency-exchange-rates">
  {% for key, value in data %}
    {{ key }} : {{ value }}
    <br>
    {% for key, value in value %}
      {{ key }} : {{ value }}
      <br>
    {% endfor %}
  {% endfor %}
</div>
